In [1]:
import sys; sys.path.append('../')
import pandas as pd
import os

from lib.data import download, extract_zip
from lib.trr import (
    clean_trr, clean_action_response, clean_charge, clean_subject_weapon, clean_status, clean_weapon_discharge
)
from lib.sql import insert_stmts

In [2]:
trr_zip_path = download('https://www.dropbox.com/s/awry2r8e35qj4j9/2021-04-28_TRR%20data%20to%20import.zip?dl=1')
trr_dir_path = extract_zip(trr_zip_path)

In [3]:
trr = pd.concat([
    pd.read_csv(os.path.join(trr_dir_path, 'Encarnacion.TRR.csv')),
    pd.read_csv(os.path.join(trr_dir_path, 'Solano.TRR.csv')),
])
officer_dict = {
    'encarnacion': 7939,
    'solano': 26969,
}
trr.loc[:, 'officer_id'] = trr.POLAST.str.lower().map(lambda x: officer_dict[x])
trr = clean_trr(trr)
print(insert_stmts('trr_trr', trr))

INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (810142, 1624, '59XX', 'West', 'MONTROSE AVE', 'GAS STATION', '2019-01-06 05:46:00', 'Indoor', 'ARTIFICIAL', 'CLEAR', 'T', 'T', 'T', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'F', 'T', 'M', 'HISPANIC', 1981, 'F', 'F', 'F', 7939, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (844519, 1634, '52XX', 'West', 'ADDISON ST', 'GAS STATION', '2019-01-24 01:45:00', 'Indoor', 'ARTIFICIAL', 'CLEAR', 'T', 'T', 'F', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'F', 'T', 'M', 'WHITE', 1994, 'T', 'F', 'F', 7939, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (971125, 1622, '53XX', 'North', 'MILWAUKEE AVE', 'GROCERY FOOD STORE', '2019-03-15 04:20:00', 'Indoor', 'ARTIFICIAL', 'CLEAR', 'F', 'T', 'F', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'F', 'T', 'M', 'BLACK', 1982, 'F', 'F', 'F', 7939, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (984617, 1614, '86XX', 'West', 'SUMMERDALE AVE', 'PARKING LOT / GARAGE (NON RESIDENTIAL)', '2019-03-19 23:26:00', 'Outdoor', 'DARKNESS', 'CLEAR', 'T', 'T', 'F', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'F', 'T', 'M', 'HISPANIC', 1999, 'T', 'F', 'F', 7939, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (4469209, 2521, '24XX', 'North', 'LAMON AVE', 'STREET', '2019-12-08 00:04:00', 'Outdoor', 'DARKNESS', 'CLEAR', 'T', 'T', 'T', 'F', NULL, NULL, 17, NULL, '1606A', 'T', 'F', 'F', 'M', 'HISPANIC', 2000, 'T', 'F', 'F', 7939, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (5053955, 1622, '57XX', 'West', 'WINDSOR AVE', 'RESIDENCE - PORCH / HALLWAY', '2020-01-26 02:30:00', 'Outdoor', 'ARTIFICIAL', 'CLEAR', 'F', 'T', 'F', 'F', NULL, NULL, 17, NULL, '1623', 'T', 'T', 'T', 'M', 'HISPANIC', 2000, 'F', 'F', 'F', 7939, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (778883, 1634, '49XX', 'West', 'PATTERSON AVE', 'RESIDENCE - PORCH / HALLWAY', '2018-12-20 05:30:00', 'Indoor', 'DARKNESS', 'CLEAR', 'T', 'T', 'F', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'T', 'T', 'M', 'HISPANIC', 1989, 'F', 'T', 'F', 26969, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (781382, 1633, '60XX', 'West', 'ADDISON ST', 'STREET', '2018-12-22 00:18:00', 'Outdoor', 'DAYLIGHT', 'CLEAR', 'F', 'T', 'F', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'F', 'T', 'M', 'HISPANIC', 1994, 'F', 'T', 'T', 26969, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (810159, 1624, '59XX', 'West', 'MONTROSE AVE', 'GAS STATION', '2019-01-06 05:46:00', 'Indoor', 'ARTIFICIAL', 'CLEAR', 'T', 'T', 'T', 'F', NULL, NULL, 17, NULL, NULL, 'T', 'F', 'T', 'M', 'HISPANIC', 1981, 'F', 'F', 'F', 26969, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (844542, 1634, '52XX', 'West', 'ADDISON ST', 'GAS STATION', '2019-01-24 01:45:00', 'Indoor', 'ARTIFICIAL', 'CLEAR', 'T', 'T', 'F', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'F', 'T', 'M', 'WHITE', 1994, 'T', 'F', 'F', 26969, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (971157, 1622, '53XX', 'North', 'MILWAUKEE AVE', 'GROCERY FOOD STORE', '2019-03-15 04:20:00', 'Indoor', 'ARTIFICIAL', 'CLEAR', 'F', 'T', 'F', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'F', 'T', 'M', 'BLACK', 1982, 'F', 'F', 'F', 26969, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (984614, 1614, '86XX', 'West', 'SUMMERDALE AVE', 'PARKING LOT / GARAGE (NON RESIDENTIAL)', '2019-03-19 23:26:00', 'Outdoor', 'DARKNESS', 'CLEAR', 'T', 'T', 'F', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'F', 'T', 'M', 'HISPANIC', 1999, 'T', 'F', 'F', 26969, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (1665882, 1623, '51XX', 'North', 'MILWAUKEE AVE', 'POLICE FACILITY / VEHICLE PARKING LOT', '2019-05-27 01:15:00', 'Indoor', 'ARTIFICIAL', 'CLEAR', 'T', 'T', 'T', 'F', NULL, NULL, 17, NULL, '1634R', 'T', 'T', 'T', 'M', 'HISPANIC', 2000, 'F', 'F', 'F', 26969, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (5053975, 1622, '57XX', 'West', 'WINDSOR AVE', 'RESIDENCE - YARD (FRONT / BACK)', '2020-01-26 02:25:00', 'Outdoor', 'ARTIFICIAL', 'CLEAR', 'T', 'T', 'T', 'F', NULL, NULL, 17, NULL, '1623', 'T', 'T', 'T', 'M', 'HISPANIC', 1996, 'F', 'F', 'F', 26969, current_timestamp, current_timestamp);
INSERT INTO trr_trr (id, beat, block, direction, street, location, trr_datetime, indoor_or_outdoor, lighting_condition, weather_condition, "notify_OEMC", notify_district_sergeant, "notify_OP_command", "notify_DET_division", number_of_weapons_discharged, party_fired_first, officer_unit_id, officer_unit_detail_id, officer_assigned_beat, officer_on_duty, officer_injured, officer_in_uniform, subject_gender, subject_race, subject_birth_year, subject_armed, subject_injured, subject_alleged_injury, officer_id, created_at, updated_at) VALUES (5054003, 1622, '57XX', 'West', 'WINDSOR AVE', 'RESIDENCE - YARD (FRONT / BACK)', '2020-01-26 02:25:00', 'Outdoor', 'ARTIFICIAL', 'CLEAR', 'T', 'T', 'T', 'F', NULL, NULL, 17, NULL, '1623', 'T', 'T', 'T', 'M', 'HISPANIC', 2000, 'F', 'F', 'F', 26969, current_timestamp, current_timestamp);

In [4]:
trr_ids = trr['id'].unique()
ar = pd.read_csv(os.path.join(trr_dir_path, 'All.ActionsResponses.TRR.csv'))
ar = clean_action_response(ar)
ar = ar[ar.trr_id.isin(trr_ids)].reset_index(drop=True)
ar
print(insert_stmts('trr_actionresponse', ar))

INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Member Action', 'Active Resister', 'OPEN HAND STRIKE', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Member Action', 'Assailant Assault/Battery', 'CLOSED HAND STRIKE/PUNCH', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Member Action', 'Passive Resister', 'ESCORT HOLDS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Member Action', 'Passive Resister', 'PRESSURE SENSITIVE AREAS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Subject Action', 'Active Resister', 'FLED', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Subject Action', 'Active Resister', 'OTHER (SPECIFY)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Subject Action', 'Assailant Assault', 'IMMINENT THREAT OF BATTERY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Subject Action', 'Assailant Battery', 'ATTACK WITHOUT WEAPON', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (778883, 'Subject Action', 'Passive Resister', 'STIFFENED (DEAD WEIGHT)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (781382, 'Member Action', 'Active Resister', 'OPEN HAND STRIKE', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (781382, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (781382, 'Subject Action', 'Active Resister', 'FLED', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (781382, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (781382, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (781382, 'Subject Action', 'Passive Resister', 'STIFFENED (DEAD WEIGHT)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810142, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810142, 'Member Action', 'Passive Resister', 'ESCORT HOLDS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810142, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810142, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810142, 'Subject Action', 'Passive Resister', 'STIFFENED (DEAD WEIGHT)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810159, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810159, 'Member Action', 'Passive Resister', 'ESCORT HOLDS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810159, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810159, 'Subject Action', 'Assailant Assault', 'IMMINENT THREAT OF BATTERY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810159, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (810159, 'Subject Action', 'Passive Resister', 'STIFFENED (DEAD WEIGHT)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844519, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844519, 'Member Action', 'Passive Resister', 'ARMBAR', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844519, 'Member Action', 'Passive Resister', 'ESCORT HOLDS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844519, 'Member Action', 'Passive Resister', 'WRISTLOCK', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844519, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844519, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844519, 'Subject Action', 'Passive Resister', 'STIFFENED (DEAD WEIGHT)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844542, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844542, 'Member Action', 'Passive Resister', 'ESCORT HOLDS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844542, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844542, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (844542, 'Subject Action', 'Passive Resister', 'STIFFENED (DEAD WEIGHT)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (971125, 'Subject Action', 'Assailant Assault', 'IMMINENT THREAT OF BATTERY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (971125, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (971125, 'Subject Action', 'Passive Resister', 'OTHER (SPECIFY)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (971157, 'Subject Action', 'Assailant Assault', 'IMMINENT THREAT OF BATTERY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (971157, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (971157, 'Subject Action', 'Passive Resister', 'OTHER (SPECIFY)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984614, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984614, 'Subject Action', 'Active Resister', 'FLED', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984614, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984614, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984614, 'Subject Action', 'Passive Resister', 'STIFFENED (DEAD WEIGHT)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984617, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984617, 'Member Action', 'Passive Resister', 'ESCORT HOLDS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984617, 'Member Action', 'Passive Resister', 'WRISTLOCK', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984617, 'Subject Action', 'Active Resister', 'FLED', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984617, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984617, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (984617, 'Subject Action', 'Passive Resister', 'STIFFENED (DEAD WEIGHT)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (1665882, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (1665882, 'Member Action', 'Passive Resister', 'ESCORT HOLDS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (1665882, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (1665882, 'Subject Action', 'Assailant Battery', 'ATTACK WITHOUT WEAPON', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (1665882, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (4469209, 'Subject Action', 'Active Resister', 'FLED', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (4469209, 'Subject Action', 'Assailant Battery', 'ATTACK WITH WEAPON', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (4469209, 'Subject Action', 'Assailant Deadly Force', 'USES FORCE LIKELY TO CAUSE DEATH OR GREAT BODILY HARM', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (4469209, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (5053955, 'Member Action', 'Passive Resister', 'ESCORT HOLDS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (5053955, 'Subject Action', 'Active Resister', 'PULLED AWAY', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (5053955, 'Subject Action', 'Passive Resister', 'DID NOT FOLLOW VERBAL DIRECTION', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (5053955, 'Subject Action', 'Passive Resister', 'OTHER (SPECIFY)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (5053955, 'Subject Action', 'Passive Resister', 'STIFFENED (DEAD WEIGHT)', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (5053975, 'Member Action', 'Active Resister', 'TAKE DOWN/EMERGENCY HANDCUFFING', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));
INSERT INTO trr_actionresponse (trr_id, person, resistance_type, action, created_at, updated_at, id) VALUES (5053975, 'Member Action', 'Assailant Assault/Battery', 'CLOSED HAND STRIKE/PUNCH', current_timestamp, current_timestamp, (select max(id) + 1 from trr_actionresponse));

In [5]:
ch = pd.read_csv(os.path.join(trr_dir_path, 'All.Charges.TRR.csv'))
ch = clean_charge(ch)
ch = ch[ch.trr_id.isin(trr_ids)].reset_index(drop=True)
ch
print(insert_stmts('trr_charge', ch))

INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (778883, '720 ILCS 5.0/24-1-A-10', 'UUW -  WEAPON - PUBLIC STREET/ALLEY/LANDS', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (778883, '8-24-020', 'SALE OR POSSESSION OF DEADLY WEAPON', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844519, '625 ILCS 5.0/3-707', 'INSURANCE - OPERATE MTR VEHICLE WITHOUT', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844519, '625 ILCS 5.0/6-303-A', 'DRIVING ON SUSPENDED LICENSE', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844519, '720 ILCS 5.0/16-2', 'THEFT LOST/MISLAID/PROP/$500-$10K', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844519, '720 ILCS 5.0/24-1.1-A', 'UUW - WEAPON - FELON, POSSESS/USE FIREARM', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844519, '720 ILCS 5.0/31-1-A', 'RESISTING/OBSTRUCT/PC OFF/CORR EMP/FRFTR', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844519, '720 ILCS 570.0/401.5-A-5', 'PCS - MFG - POSSESS ANY SUBSTANCE W/INTENT', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844519, '725 ILCS 5.0/110-3', 'ISSUANCE OF WARRANT', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844519, '9-76-210(B)', 'BROKEN OR CRACKED GLASS EXCEEDS SIX INCHES', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844542, '625 ILCS 5.0/3-707', 'INSURANCE - OPERATE MTR VEHICLE WITHOUT', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844542, '625 ILCS 5.0/6-303-A', 'DRIVING ON SUSPENDED LICENSE', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844542, '720 ILCS 5.0/16-2', 'THEFT LOST/MISLAID/PROP/$500-$10K', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844542, '720 ILCS 5.0/24-1.1-A', 'UUW - WEAPON - FELON, POSSESS/USE FIREARM', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844542, '720 ILCS 5.0/31-1-A', 'RESISTING/OBSTRUCT/PC OFF/CORR EMP/FRFTR', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844542, '720 ILCS 570.0/401.5-A-5', 'PCS - MFG - POSSESS ANY SUBSTANCE W/INTENT', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844542, '725 ILCS 5.0/110-3', 'ISSUANCE OF WARRANT', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (844542, '9-76-210(B)', 'BROKEN OR CRACKED GLASS EXCEEDS SIX INCHES', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (984614, '720 ILCS 5.0/31-1-A', 'RESISTING/OBSTRUCT/PC OFF/CORR EMP/FRFTR', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (984614, '720 ILCS 550.0/4-B', 'POSS CAN/>10-30 GRAMS/1ST', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (984614, '8-24-020', 'SALE OR POSSESSION OF DEADLY WEAPON', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (984617, '720 ILCS 5.0/31-1-A', 'RESISTING/OBSTRUCT/PC OFF/CORR EMP/FRFTR', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (984617, '720 ILCS 550.0/4-B', 'POSS CAN/>10-30 GRAMS/1ST', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (984617, '8-24-020', 'SALE OR POSSESSION OF DEADLY WEAPON', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (4469209, '720 ILCS 5.0/18-4-A-4', 'VEHICULAR HIJACKING - AGG - FIREARM', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (5053955, '515 ILCS 5.0/1-200', 'OBSTRUCTING AN OFFICER', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (5053955, '720 ILCS 5.0/12-1-A', 'ASSAULT - SIMPLE', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));
INSERT INTO trr_charge (trr_id, statute, description, created_at, updated_at, id) VALUES (5053955, '720 ILCS 5.0/31-1-A', 'RESISTING/OBSTRUCT/PC OFF/CORR EMP/FRFTR', current_timestamp, current_timestamp, (select max(id) + 1 from trr_charge));

In [6]:
sw = pd.read_csv(os.path.join(trr_dir_path, 'All.SubjectWeapons.TRR.csv'))
sw = clean_subject_weapon(sw)
sw = sw[sw.trr_id.isin(trr_ids)].reset_index(drop=True)
sw
print(insert_stmts('trr_subjectweapon', sw))

INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (778883, 'HANDS/FISTS', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (778883, 'HANDS/FISTS', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (778883, 'MOUTH (SPIT,BITE,ETC)', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (810159, 'HANDS/FISTS', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (844519, 'FIREARM - SEMI-AUTOMATIC', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (844542, 'FIREARM - SEMI-AUTOMATIC', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (984614, 'KNIFE/OTHER CUTTING INSTRUMENT', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (984617, 'KNIFE/OTHER CUTTING INSTRUMENT', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (1665882, 'HANDS/FISTS', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (4469209, 'FIREARM - SEMI-AUTOMATIC', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (5053975, 'FEET', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));
INSERT INTO trr_subjectweapon (trr_id, weapon_type, weapon_description, created_at, updated_at, id) VALUES (5053975, 'HANDS/FISTS', NULL, current_timestamp, current_timestamp, (select max(id) + 1 from trr_subjectweapon));

In [7]:
from datamatch import ThresholdMatcher, JaroWinklerSimilarity, DateSimilarity, ColumnsIndex, StringSimilarity
from lib.refs import load_officers

st = pd.read_csv(os.path.join(trr_dir_path, 'All.Statuses_OtherMembers.TRR.csv'))
st = clean_status(st)
st = st[st.trr_id.isin(trr_ids)].reset_index(drop=True)
officers = load_officers()

for col in ['last_name', 'first_name', 'middle_initial', 'gender', 'race']:
    st.loc[:, col] = st[col].fillna('').str.lower()

dfa = st[[
    'last_name', 'first_name', 'middle_initial', 'gender', 'race', 'appointed_date'
]].drop_duplicates().set_index('last_name', drop=False)
dfa.loc[:, 'fc'] = dfa.first_name.fillna('').map(lambda x: x[:1])
dfb = officers[[
    'id', 'last_name', 'first_name', 'middle_initial', 'gender', 'race', 'appointed_date'
]].drop_duplicates().set_index('id', drop=True)
dfb.loc[:, 'fc'] = dfb.first_name.fillna('').map(lambda x: x[:1])

matcher = ThresholdMatcher(dfa, dfb, ColumnsIndex(['fc']), {
    'first_name': JaroWinklerSimilarity(),
    'last_name': JaroWinklerSimilarity(),
    'middle_initial': StringSimilarity(),
    'gender': StringSimilarity(),
    'race': StringSimilarity(),
    'appointed_date': DateSimilarity()
})
pairs = matcher.get_index_pairs_within_thresholds()
match_dict = dict(pairs)
st.loc[:, 'officer_id'] = st.last_name.str.lower().map(lambda x: match_dict[x])
st = st.drop(columns=['last_name', 'first_name', 'middle_initial', 'gender', 'race', 'birth_year', 'appointed_date'])
st
print(insert_stmts('trr_trrstatus', st))

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3361: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (778883, 'SUBMITTED', '2018-12-20 18:14:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (778883, 'SUBMITTED', '2018-12-21 01:08:00', 14536, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (778883, 'APPROVED', '2018-12-22 07:42:00', 7958, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (778883, 'SUBMITTED', '2019-01-24 12:24:00', 24300, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (778883, 'APPROVED', '2019-03-06 12:28:00', 2216, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (781382, 'SUBMITTED', '2018-12-22 06:30:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (781382, 'SUBMITTED', '2018-12-22 06:56:00', 14536, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (781382, 'APPROVED', '2019-03-12 21:41:00', 11756, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (781382, 'SUBMITTED', '2019-05-01 11:08:00', 13438, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (781382, 'SUBMITTED', '2019-05-01 11:39:00', 2216, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (781382, 'SUBMITTED', '2019-05-06 13:09:00', 11028, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (781382, 'APPROVED', '2019-05-14 16:52:00', 1852, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (810142, 'SUBMITTED', '2019-01-06 12:29:00', 7939, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (810142, 'SUBMITTED', '2019-01-06 12:47:00', 23823, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (810142, 'APPROVED', '2019-01-06 13:11:00', 20193, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (810159, 'SUBMITTED', '2019-01-06 12:36:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (810159, 'SUBMITTED', '2019-01-06 12:44:00', 23823, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (810159, 'APPROVED', '2019-01-06 13:10:00', 20193, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (844519, 'SUBMITTED', '2019-01-24 13:12:00', 7939, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (844519, 'SUBMITTED', '2019-01-24 13:21:00', 28070, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (844519, 'SUBMITTED', '2019-01-24 14:39:00', 7939, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (844519, 'APPROVED', '2019-01-24 14:44:00', 31964, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (844542, 'SUBMITTED', '2019-01-24 13:14:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (844542, 'SUBMITTED', '2019-01-24 13:21:00', 28070, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (844542, 'SUBMITTED', '2019-01-24 14:44:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (844542, 'APPROVED', '2019-01-24 14:45:00', 31964, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (971125, 'SUBMITTED', '2019-03-15 06:33:00', 7939, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (971125, 'SUBMITTED', '2019-03-15 07:16:00', 11161, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (971125, 'SUBMITTED', '2019-03-15 07:54:00', 7939, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (971125, 'APPROVED', '2019-03-15 09:40:00', 7958, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (971157, 'SUBMITTED', '2019-03-15 06:33:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (971157, 'SUBMITTED', '2019-03-15 07:31:00', 11161, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (971157, 'SUBMITTED', '2019-03-15 07:49:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (971157, 'APPROVED', '2019-03-15 09:41:00', 7958, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (984614, 'SUBMITTED', '2019-03-20 03:04:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (984614, 'SUBMITTED', '2019-03-20 03:23:00', 28070, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (984614, 'APPROVED', '2019-03-20 03:38:00', 8417, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (984617, 'SUBMITTED', '2019-03-20 03:07:00', 7939, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (984617, 'SUBMITTED', '2019-03-20 03:23:00', 28070, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (984617, 'APPROVED', '2019-03-20 03:35:00', 8417, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (1665882, 'SUBMITTED', '2019-05-27 02:35:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (1665882, 'SUBMITTED', '2019-05-27 22:23:00', 7361, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (1665882, 'APPROVED', '2019-05-28 00:33:00', 8417, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (4469209, 'SUBMITTED', '2019-12-08 06:55:00', 7939, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (4469209, 'SUBMITTED', '2019-12-08 07:35:00', 32370, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (4469209, 'SUBMITTED', '2019-12-08 08:13:00', 7939, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (4469209, 'APPROVED', '2019-12-08 13:18:00', 31965, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5053955, 'SUBMITTED', '2020-01-26 04:55:00', 7939, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5053955, 'SUBMITTED', '2020-01-26 23:48:00', 16512, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5053955, 'APPROVED', '2020-01-27 00:43:00', 8417, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5053955, 'SUBMITTED', '2020-06-19 16:52:00', 23707, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5053975, 'SUBMITTED', '2020-01-26 04:45:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5053975, 'SUBMITTED', '2020-01-26 23:49:00', 16512, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5053975, 'APPROVED', '2020-01-27 01:07:00', 8417, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5053975, 'SUBMITTED', '2020-06-19 16:54:00', 23707, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5054003, 'SUBMITTED', '2020-01-26 05:03:00', 26969, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5054003, 'SUBMITTED', '2020-01-26 23:50:00', 16512, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5054003, 'APPROVED', '2020-01-27 00:41:00', 8417, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));
INSERT INTO trr_trrstatus (trr_id, status, status_datetime, officer_id, created_at, updated_at, id) VALUES (5054003, 'SUBMITTED', '2020-06-19 16:57:00', 23707, current_timestamp, current_timestamp, (select max(id) + 1 from trr_trrstatus));

In [8]:
wd = pd.read_csv(os.path.join(trr_dir_path, 'All.WeaponDischarges.TRR.csv'))
wd = clean_weapon_discharge(wd)
wd = wd[wd.trr_id.isin(trr_ids)].reset_index(drop=True)
print(insert_stmts('trr_weapondischarge', wd))